---
export interface Props {
  pageTitle: string;
  description: string;
  imageUrl: string;
  websiteUrl: string;
  favicon: string;
}

const { pageTitle, description, imageUrl, websiteUrl, favicon } = Astro.props;
---

<head>
  <title>ella.cx — {pageTitle}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={description} />
  <link rel="icon" type="image/svg+xml" href={favicon} />
  <meta property="og:title" content={"ella.cx — " + pageTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={imageUrl} />
  <meta property="og:url" content={websiteUrl} />
  <meta property="og:type" content="website" />
</head>
